- if @is_current_user
  %h1 Welcome back,
  %h1
    = @user.username
  %pComing soon:  your info, your tweets, how many you follow, how many follow you, and a link to who you could follow...
- else
  %h1 Welcome to the home page of
  = @user.username
  %pComing soon:  their info, their tweets, who they follow, who follows them, and (maybe) and a link to who you could follow...
-#= render 'layouts/tweet_form2'