div.welcome_back {
    font-family:verdana;
    text-align:center;
}
div.tweeter {
    background-color:white;
    color:blue;
    font-family:verdana;
    font-weight:bold;
    font-size:80%;
}
span.tweet_date {
    background-color:white;
    color:gray;
    font-weight:lighter;
    font-family:verdana;
    font-size:65%;
}
span.tweet {
    background-color:white;
    color:black;
    font-family:verdana;
    font-size:100%;
}
div.tweet_date {
    background-color:white;
    color:gray;
    font-weight:lighter;
    font-family:verdana;
    font-size:65%;
}
div.tweet {
    background-color:white;
    color:black;
    font-family:verdana;
    font-size:100%;
}
div.tweeter_username {
    background-color: white;
    color: black;
    font-family: verdana;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}
span.create_tweet {
    text-align:right;
    padding-bottom:20px;
    padding-left:400px;
    font-size:x-large;
}
span.logout_link {
    text-align:left;
    padding-bottom:20px;
    padding-left:100px;
    font-size: x-large;
}
div.follower_name {
    background-color:blue;
    color:white;
    font-family:verdana;
    font-weight:bold;
    font-size:100%;
}
div.num_followers {

}

