div.tweeter {
    background-color:white;
    color:blue;
    font-family:verdana;
    font-weight:bold;
    font-size:80%;
}
span.tweet_date {
    background-color:white;
    color:gray;
    font-weight:lighter;
    font-family:verdana;
    font-size:65%;
}
span.tweet {
    background-color:white;
    color:black;
    font-family:verdana;
    font-size:100%;
}
div.tweet_date {
    background-color:white;
    color:gray;
    font-weight:lighter;
    font-family:verdana;
    font-size:65%;
}
div.tweet {
    background-color:white;
    color:black;
    font-family:verdana;
    font-size:100%;
}
div.tweeter_username {
    background-color: white;
    color: black;
    font-family: verdana;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}
span.create_tweet {
    text-align:right;
    padding-bottom:20px;
    padding-left:400px;
    font-size:x-large;
}
span.logout_link {
    text-align:left;
    padding-bottom:20px;
    padding-left:100px;
    font-size: x-large;
}
div.follower_name {
    background-color:blue;
    color:white;
    font-family:verdana;
    font-weight:bold;
    font-size:100%;
}
div.create_tweet {
    align-content:center;
    padding-left:300px;
    font-family: verdana;
    font-size:300%;
}
div.num_followers {

}
div.show_user_page {
    column-count: 3;
}
span.view_username {
    font-family:verdana;
    text-align:left;
    position: absolute;
    width: 150px;
    padding-right: 10px;
}
span.user_following {
    position: absolute;
    width: 150px;
}
span.user_followed {
    position: absolute;
    width: 150px;
}
span.tweets_list_header {
    position: absolute;
    width: 150px;
}
table.show_user_table {
    font-family:verdana;
    font-size: 150%;
    font-weight:bold;
}
td.user_show_td {
    width:150px;
    padding:10px;
    text-align:center;
    font-family:verdana;
    font-size: 150%;
    font-weight:bold;
    white-space: nowrap;
}


